main {
    position: relative;
    top: 15vh;
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 1rem;
}

main h1 {
    font-size: 2rem;
    text-align: center;
    font-weight: 700;
    color: black;
    text-transform: uppercase;
    color: #3a3a3a;
    font-weight: 600;
    margin-top: 5rem;
}

main hr {
    width: 30%;
    height: 2px;
    background-color: #0170b9;
    border: none;
    border-radius: 20px;
    margin-bottom: 3rem;
}

main p {
    line-height: 1;
    font-size: medium;
    animation: appear ease-in-out;
    animation-timeline: view();
    animation-range: cover 0% cover 15%;
}

main section {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}

main section article {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}

main section article aside h2 {
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    font-weight:700;
}

main section article aside p {
    text-align: justify;
    color: #3a3a3a;
}

.imagens {
    width: 100%;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}

.imagens img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.coord {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
    gap: 10px;
    padding: 20px;
}

.coord .imgCoord {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #cccccc;
}

.coord .InfoCoord {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    gap: 10px;
}

.materias {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    margin-bottom: 5rem;
}

.materias h2 {
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
}

.materias aside {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.materias aside p {
    width: 80%;
    text-align: center;
    padding: 5px;
    font-size: 1.3rem;
    border: 2px dashed #253a70;
    box-shadow: 2px 2px 10px #273C7533;
}
@media screen and (min-width: 990px) {

    main h1 {
        font-size: 2rem;
        text-align: center;
        text-transform: uppercase;
    }

    main section article aside h2{
        text-align: left;
    }

    main hr {
        width: 30%;
        height: 2px;
        background-color: #0170b9;
        border: none;
        border-radius: 20px;
        margin-bottom: 3rem;
    }

    main section {
        width: 80%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 20px;
    }

    main section article{
        width: 48%;
    }
    
    article.imagens{
        display: block;
        width: 45%;
        column-count: 2;
        column-gap: 10px;
    }

    article.imagens img{
        width: 100%;
        margin: 5px;
    }
    .materias h1{
        width: 100%;
        display: block;
        margin-bottom: 2rem;
    }
    .materias {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: flex-start;
    }
    .materias aside{
        width: 300px;
    }
}

@keyframes appear {
    from{
        opacity: 0;
        translate: -100vh 0;
    }
    to{
        opacity: 1;
        translate: 0 0;
    }
}