nav.navSegundaria {
    display: none;
    transition: top 0.5s;
}

main {
    position: relative;
    top: 15vh;
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

.Cursos {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 10px;
    text-align: center;
}

h1 {
    font-size: 1.75rem;
    text-align: center;
    text-transform: uppercase;
}

hr {
    width: 50px;
    height: 3px;
    background-color: #5846F9;
    border: none;
    border-radius: 20px;
}

.Cursos p {
    text-align: center;
    letter-spacing: .5px;
    margin-bottom: 20px;
}

.containerCards {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.containerCards article {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.card-cursos {
    width: 100%;
    height: 250px;
    position: relative;
    overflow: hidden;
    color: #ffffff;
    text-decoration: none;
}

.card-cursos p {
    font-size: 2rem;
    font-weight: 600;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    text-shadow: 5px 5px 5px #000000;
    padding: 10px;
    transition: all .5s;
}

.card-cursos img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
    filter: grayscale(100%);
    filter: gray;
    transition: all .5s;
}

.card-cursos:hover img {
    filter: none;
}
.card-cursos:hover p{
    background-color: #0000007d;
}

@media screen and (min-width: 767px) {

    .containerCards {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .containerCards h2 {
        cursor: auto;
        border: none;
        padding: 0px;
        border-radius: 0px;
    }

    .containerCards h2 img {
        display: none;
    }

    .containerCards article {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 1023px) {

    .containerCards {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .containerCards article {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        gap: 20px;
    }

    .card-cursos {
        width: 450px;
        height: 250px;
    }
}