@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --FontStandard: 'Poppins', sans-serif;
    --Colorheader: #1806b9cc;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--FontStandard);
    color: #2f2d2d;
    width: 100%;
    background-color: #F9F8FF;
    transition: all 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h2 {
    font-size: 1.5rem;
}

body::-webkit-scrollbar {
    width: 10px;
    background-color: rgb(187, 185, 185);
    transition: all 0.5s;
}

body::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: rgba(180, 179, 179, 0.24);
    transition: all 0.5s;
}

body::-webkit-scrollbar-thumb {
    background-image: linear-gradient(45deg, #112cf8, #58bfff);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, .12) 0 3px 13px 1px;
    transition: all 0.5s;
}


#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: #fff;
}

#preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #3863ff;
    border-top-color: #e7e4fe;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: animate-preloader 1s linear infinite;
    animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#header {
    width: 100%;
    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #273c75;
    padding: 10px 0px;
    position: fixed;
    z-index: 10;
    transition: background .5s, box-shadow .5s;
    border-bottom: none;
    box-shadow: none;
}
#header.rolagem{
    background-color: #273c75;
    /* linha de sombreamento do menu*/
    border-bottom: 1px solid var(--light-grey);
    box-shadow: 0 10px 10px -10px #7cb7ef;
}
#menu {
    width: 40px;
    display: block;
    cursor: pointer;
}

#menuClose {
    width: 40px;
    display: none;
    cursor: pointer;
}

.rotate {
    transition: transform 0.5s ease;
    transform: rotate(180deg);
}

.rotateBack {
    transition: transform 0.5s ease;
    transform: rotate(0deg);
}

.logo {
    width: 100%;
    height: 100%;
}

#navPrincipal {
    position: fixed;
    top: 15vh;
    background-color: #273c75;
    width: 50%;
    font-size: 12px;
    text-align: right;
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-right: 25px;
    transition: right 0.5s ease;
    height: 100%;
    right: -100%;
    z-index: 100;
}

nav#navPrincipal ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    width: auto;
    box-sizing: content-box;
}

nav#navPrincipal ul li {
    padding: 15px 0px;
    width: 100%;
    text-align: center;
}
nav#navPrincipal span{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.RedesSociais a img {
    width: 25px;
    
}
.RedesSociais a img.iconHover {
    display: none;
}

nav#navPrincipal ul li a {
    text-decoration: none;
    width: auto;
    color: #ffffffb3;
    font-size: 16px;
    font-weight: 500;
    transition: background-size 0.3s ease;
    background: linear-gradient(#ffffff 0%, #ffffff 98%);
    background-size: 0px 2px;
    background-repeat: no-repeat;
    background-position: left 90%;
    display: flex;
    padding: 5px 0px;
}

nav#navPrincipal ul li a:hover,
nav#navPrincipal ul li a:active {
    transition: 0.3s;
    background-size: 100% 2px;
    color: #ffffff;
}

nav#navPrincipal ul li.RedesSociais a:hover {
    transition: 0.3s;
    background-size: 0px 2px;
    color: #ffffff;
}

nav#navPrincipal ul li.RedesSociais a:hover img {
    display: none;
}

nav#navPrincipal ul li.RedesSociais a:hover .iconHover {
    display: block;
}

nav#navPrincipal ul li#dropdown {
    position: relative;
    display: inline-block;
}

nav#navPrincipal ul li#dropdown ul {
    position: absolute;
    top: 80%;
    right: -50%;
    width: 200px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: none;
    padding: 0px 10px;
    z-index: 15;
    flex-direction: column;
    justify-content: center;
}
nav#navPrincipal ul li#dropdown ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

nav#navPrincipal ul li#dropdown ul li a {
    color: #2c4964;
    font-size: 0.9rem;
    text-align: center;
}

nav#navPrincipal ul li#dropdown ul li a:hover {
    color: #3a59ae;;
}

nav#navPrincipal ul li#dropdown:hover ul {
    display: block;
}

nav#navPrincipal.open{
    right: 0;
}

nav.navSegundaria {
    display: none;
    transition: top 0.5s;
}

main {
    position: relative;
    top: 15vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    align-items: stretch;
    padding: 20px;
    margin-bottom: 15vh;
}

footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 20px;
    padding: 50px;
    background-color: #192A56;
    color: #ffffff;
}

footer span {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 15px;
}

footer span p strong {
    font-weight: 700;
}

footer span a {
    text-decoration: none;
    color: #ffffffb3;
    font-size: 16px;
    font-weight: 500;
    transition: background-size 0.3s ease;
    background: linear-gradient(#ffffff 0%, #ffffff 98%);
    background-size: 0px 2px;
    background-repeat: no-repeat;
    background-position: left 90%;
    display: flex;
    padding: 5px 0px;
}

footer span a:hover,
footer span a:active {
    transition: 0.3s;
    background-size: 100% 2px;
    color: #ffffff;
}

footer span.FRedesSociais div {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

footer span.FRedesSociais h2 {
    width: 100%;
}

footer span.FRedesSociais img {
    width: 40px;
}

.FRedesSociais div a .iconHover {
    display: none;
    width: 40px;
}

.FRedesSociais div a:hover {
    transition: 0.3s;
    background-size: 0px 2px;
    color: #ffffff;
}

.FRedesSociais a:hover img {
    display: none;
}

.FRedesSociais a:hover .iconHover {
    display: block;
}

#backToTop {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 30px;
    bottom: 30px;
    width: 50px;
    z-index: 996;
    height: 50px;
    background-color: #192A56;
    border-radius: 5px;
    border: 2px solid #ffffff;
    font-size: 2em;
    transition: all 0.4s;
}

#backToTop img {
    width: 100%;
    height: 100%;
}

#backToTop:hover {
    background-color:#253a70;
}

#backToTop.active {
    visibility: visible;
    opacity: 1;
}