@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);

:root {
    --FontStandard: 'Roboto', sans-serif;
    --Colorheader: #1806b9cc;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--FontStandard);
    color: #2f2d2d;
    width: 100%;
    height: 100vh;
    background-color: #F9F8FF;
    transition: all 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h2 {
    font-size: 1.5rem;
}

body::-webkit-scrollbar {
    width: 15px;
    height: 15px;
    background-color: rgb(187, 185, 185);
}

body::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: rgba(180, 179, 179, 0.24);
}

body::-webkit-scrollbar-thumb {
    background-image: linear-gradient(45deg, #5846f9, #a68eff);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, .12) 0 3px 13px 1px;
}


#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: #fff;
}

#preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #5846f9;
    border-top-color: #e7e4fe;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: animate-preloader 1s linear infinite;
    animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #1806b9cc;
    height: 15vh;
    transition: top 0.5s;
    position: fixed;
    z-index: 20;
}

#header.headerFixo {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

#menu {
    width: 40px;
    display: block;
    cursor: pointer;
}

#menuClose {
    width: 40px;
    display: none;
    cursor: pointer;
}

.rotate {
    transition: transform 0.5s ease;
    transform: rotate(180deg);
}

.rotateBack {
    transition: transform 0.5s ease;
    transform: rotate(0deg);
}

.logo {
    width: 80%;
}

#navPrincipal {
    position: fixed;
    top: 15vh;
    background-color: #4637C7;
    width: 50%;
    font-size: 14px;
    text-align: right;
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-right: 25px;
    transition: right 0.5s ease;
    height: 100%;
    right: -100%;
    z-index: 20;
}

nav#navPrincipal ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-wrap: wrap;
    list-style: none;
    width: auto;
    box-sizing: content-box;
}

nav#navPrincipal ul li {
    padding: 15px 0px;
}

.RedesSociais a img {
    width: 50px;
}

.RedesSociais a img.iconHover {
    display: none;
}

nav#navPrincipal ul li a {
    text-decoration: none;
    color: #ffffffb3;
    font-size: 16px;
    font-weight: 500;
    transition: background-size 0.3s ease;
    background: linear-gradient(#ffffff 0%, #ffffff 98%);
    background-size: 0px 2px;
    background-repeat: no-repeat;
    background-position: left 90%;
    display: flex;
    padding: 5px 0px;
}

nav#navPrincipal ul li a:hover,
nav#navPrincipal ul li a:active {
    transition: 0.3s;
    background-size: 100% 2px;
    color: #ffffff;
}

nav#navPrincipal ul li.RedesSociais a:hover {
    transition: 0.3s;
    background-size: 0px 2px;
    color: #ffffff;
}

nav#navPrincipal ul li.RedesSociais a:hover img {
    display: none;
}

nav#navPrincipal ul li.RedesSociais a:hover .iconHover {
    display: block;
}

nav#navPrincipal ul li#dropdown {
    position: relative;
    display: inline-block;
}

nav#navPrincipal ul li#dropdown ul {
    position: absolute;
    top: 80%;
    right: 70%;
    width: auto;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: none;
    padding: 10px;
    z-index: 15;
    transition: right 0.5s ease;
}

nav#navPrincipal ul li#dropdown ul li a {
    color: #2c4964;
    font-size: 0.9rem;
}

nav#navPrincipal ul li#dropdown ul li a:hover {
    color: #5846f9;
}

nav#navPrincipal ul li#dropdown:hover ul {
    display: block;
}

nav#navPrincipal.open{
    right: 0;
}

nav.navSegundaria {
    display: none;
    transition: top 0.5s;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 15vh;
    gap: 10px;
    padding-top: 20px;
}

footer {
    margin-top: 15vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 20px;
    padding: 50px;
    background: linear-gradient(45deg, rgba(86, 58, 250, 0.9) 0%, rgba(116, 15, 214, 0.9) 100%), url('../img/fundos/footer-bg.jpg') center center no-repeat;
    background-size: cover;
    color: #ffffff;
}

footer span {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 15px;
}

footer span p strong {
    font-weight: 700;
}

footer span a {
    text-decoration: none;
    color: #ffffffb3;
    font-size: 16px;
    font-weight: 500;
    transition: background-size 0.3s ease;
    background: linear-gradient(#ffffff 0%, #ffffff 98%);
    background-size: 0px 2px;
    background-repeat: no-repeat;
    background-position: left 90%;
    display: flex;
    padding: 5px 0px;
}

footer span a:hover,
footer span a:active {
    transition: 0.3s;
    background-size: 100% 2px;
    color: #ffffff;
}

footer span.FRedesSociais div {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

footer span.FRedesSociais h2 {
    width: 100%;
}

footer span.FRedesSociais img {
    width: 40px;
}

.FRedesSociais div a .iconHover {
    display: none;
    width: 40px;
}

.FRedesSociais div a:hover {
    transition: 0.3s;
    background-size: 0px 2px;
    color: #ffffff;
}

.FRedesSociais a:hover img {
    display: none;
}

.FRedesSociais a:hover .iconHover {
    display: block;
}

#backToTop {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 30px;
    bottom: 30px;
    width: 50px;
    z-index: 996;
    height: 50px;
    background-color: #5846f9;
    border-radius: 5px;
    border: 2px solid #ffffff;
    font-size: 2em;
    transition: all 0.4s;
}

#backToTop img {
    width: 100%;
    height: 100%;
}

#backToTop:hover {
    background-color: #7b27d8;
}

#backToTop.active {
    visibility: visible;
    opacity: 1;
}