@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);

:root {
    --FontStandard: 'Roboto', sans-serif;
    --Colorheader: #1806b9cc;
}

nav ul li a{
    display: flex;
    align-items: center;
    gap: 5px;
}
nav ul li a img{
    width: 20px;
    height: 20px;
}
main section{
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
section h2{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
}
main section article{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main section .PreviewPost{
    width: 90%;
    min-height: 28rem;
    border: 3px solid #7e74d8;
    background-color: #ffffff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
}
main section .PreviewPost img{
    max-width: 100%;
    height: auto;
}
section form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
section form div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
section form div label{
    text-align: justify;
    font-size: 25px;
}
section form div select{
    width: 300px;
    height: 30px;
    margin: 10px;
    padding: 5px;
    border: 3px solid #7e74d8;
}
section form div input[type="text"]{
    width: 300px;
    height: 30px;
    margin: 10px;
    padding: 5px;
    border: 3px solid #7e74d8;
    font-size: 16px;
    font-family: var(--FontStandard);
} 
section form div input[type="file"]{
    display: none;
} 
section form div label#imagem{
    width: 300px;
    background-color: #ffffff;
    height: 100px;
    margin: 10px;
    padding: 5px;
    border: 3px dashed #7e74d8;
    color: #7e74d8;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
}
section form div label#imagem:hover{
    background-color: #7e74d8cc;
    color: #ffffff;
    border: 3px dashed #ffffff;
    transition: all 200ms ease-in-out;
}
section form div label#imagem:active{
    background-color: #573aff;
    color: #ffffff;
    border: 3px dashed #ffffff;
}
section form div label#imagem:focus{
    outline: 3px solid #7e74d8;
}
section form div label .ImagemPreview .ImgViewer{
    max-width: 100%;
}
section form div textarea{
    width: 300px;
    height: 15rem;
    padding: 5px;
    border: 3px solid #7e74d8;
    resize: none;
    font-size: 16px;
    font-family: var(--FontStandard);
}
section form div input[type=submit], button{
    width: 150px;
    padding: 10px;
    border: 3px solid #7e74d8;
    border-radius: 5px;
    background-color: #ffffff;
    color: #000000;
    font-weight: bold;
    align-self: center;
    margin: 5px 0px;
}
section form div input[type=submit]:disabled, button:disabled{
    background-color: #ffffff;
    color: #000000;
    cursor: not-allowed;
    border: none;
}
section form div input[type=submit]:disabled:hover, button:disabled:hover{
    background-color: #ffffff;
    border: none;
    color: #000000;
    cursor: not-allowed;

}
section form div input[type=submit]:hover, button:hover{
    border: 3px solid #ffffff;
    border-radius: 5px;
    background-color:#7e74d8 ;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
}
p.Erro{
    color: #ff0000;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
p.Sucesso{
    color: #00ff00;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
@media screen and (min-width: 1023px){
    nav ul li a{
        display: flex;
        align-items: center;
        gap: -10px;
    }
    nav ul li a img{
        height: 40px;
    }
    main{
        flex-direction: row;
        gap: 0;
        align-items: flex-start;
    }
    section{
        padding: 0;
    }
    .Previewbutton{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    section form div label#imagem{
        width: 400px;
    }
    section form div textarea{
        width: 400px;
    }
}