header#header {
    background-color: #273c7500;
    height: 20vh;
    transition: 1s;

}
header#header.rolagem{
    background-color: #273c75;
    border-bottom: 1px solid var(--light-grey);
    box-shadow: 0 10px 10px -10px #7cb7ef;
}

main {
    position: static !important;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    align-items: stretch;
    padding: 0px !important;
    margin-bottom: 0vh !important;
}

.bannerPrincipal {
    height: 100vh;
    background-image: url(../img/etecAzul.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #f5f6fa;
    text-transform: capitalize;
    letter-spacing: 2px;
    gap: 3rem;
    position: relative;
    top: 0;
    padding: 20px;
}

.bannerPrincipal span {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 15px;
    animation: appear ease-in-out 1.5s;
}

.bannerPrincipal span:first-child {
    gap: 0px;
}


.bannerPrincipal h1 {
    font-size: 60px;
    font-weight: 900;
    display: flex;
    flex-direction: column;
}

.bannerPrincipal h3 {
    font-weight: 200;
}

.container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
}

#slider {
    padding: 20px 0px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    transition: transform 0.5s ease-in-out;
}

.slides {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    transition: transform 0.5s ease;
    padding: 0 50px;
    flex: 0 0 100%;
    color: #000000;
    text-decoration: none;
    cursor: pointer;
}

.slides span {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 5px 10px;
    color: #000000;
    border-radius: 10px;
    overflow: hidden;
}

.slides span h1 {
    color: #000000;
    font-size: 1.8rem;
    line-height: 2rem;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 10px;
    margin-bottom: 2rem;
    text-decoration: underline;
}


.slides span p {
    letter-spacing: 1px;
    text-align: justify;
    font-size: 16px;
    line-height: 1.3rem;
}

.slides img {
    width: 100%;
    max-width: 500px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 0 10px #00000050;
}

#SetaAnterior,
#SetaProxima {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #00000000;
    color: #ffffff;
    border: none;
    padding: 10px;
    cursor: pointer;
    height: 100%;
    text-align: center;
    font-size: 4em;
    font-weight: 700;
    z-index: 9;
    transition: opacity 0.5s;
}

#SetaAnterior {
    left: 0;
    opacity: 0;
}

#SetaProxima {
    right: 0;
    opacity: 0;
}

.container:hover #SetaAnterior,
.container:hover #SetaProxima {
    opacity: 1;
}

.NoticiasR {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 50px 20px;
}

.NoticiasR h1 {
    font-size: 1.75rem;
    text-align: center;
    text-transform: uppercase;
}

.NoticiasR hr {
    width: 50px;
    height: 3px;
    background-color: #273c75;
    border: none;
    border-radius: 20px;
}

.NoticiasR p {
    text-align: center;
    letter-spacing: .5px;
}

.separa {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 10px 0px;
}

.BlocoNoticia {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    padding: 30px;
    border-radius: 10px;
    background-color: #ffffff;
    gap: 20px;
    box-shadow: 0px 0px 5px #00000050;
    cursor: pointer;
}

.BlocoNoticia .title-img,
.BlocoNoticia .content-noticia{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10px;
}

.BlocoNoticia .title-img img{
    width: 80%;
    object-fit: cover;
}

.BlocoNoticia .title-img h1{
    text-align: left;
    color: #54617a;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 400;
}

.BlocoNoticia .content-noticia p {
    color: #8d99ae;
    text-align: left;
    font-size: 16px;
    line-height: 1rem;
}
.BlocoNoticia .content-noticia .separador{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 0;
    background-color: #00000000;
    box-shadow: none;
    height: auto;
}


.BlocoNoticia .content-noticia .separador p:nth-child(1){
    background-color: #9adcff;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
}

.BlocoNoticia .content-noticia .separador p:nth-child(2){
    display: flex;
    align-items: center;
}

.BlocoNoticia .content-noticia .separador p:nth-child(2)::before{
    content: url('../img/icons/data.svg');
    padding-right: 5px;
    align-self: baseline;
}

.servicos {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 50px 20px;
    text-align: center;
}

.servicos aside {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
}

.servicos h1 {
    font-size: 1.75rem;
    text-align: center;
    text-transform: uppercase;
}

.servicos hr {
    width: 50px;
    height: 3px;
    background-color: #273c75;
    border: none;
    border-radius: 20px;
}

.servicos p {
    text-align: center;
    letter-spacing: .5px;
}

.cardsServ {
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    background-color: #FFFFFF;
    text-decoration: none;
    color: #000000;
}

.cardsServ div {
    width: 100px;
    height: 100px;
    background-color: #F9F8FF;
    padding: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconsCards {
    width: 50px;
}

.iconHover {
    width: 50px;
    display: none;
}

.cardsServ:hover {
    box-shadow: 0px 0px 10px #00000050;
    transition: all .4s ease-out;
}

.cardsServ:hover .iconHover {
    display: block;
}

.cardsServ:hover .iconsCards {
    display: none;
}

#card01:hover div {
    background-color: #C3062C;
}

#card02:hover div {
    background-color: #474085;
}

#card03:hover div {
    background-color: #E07767;
}

#card04:hover div {
    background-color: #022558;
}

#card05:hover div {
    background-color: #A13866;
}

#card06:hover div {
    background-color: #3a7b50;
}

.APM {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 50px 20px;
    text-align: center;
}

.APM h1 {
    font-size: 1.75rem;
    text-align: center;
    text-transform: uppercase;
}

.APM hr {
    width: 50px;
    height: 3px;
    background-color: #273c75;
    border: none;
    border-radius: 20px;
}

.APM p {
    text-align: center;
    letter-spacing: .5px;
    margin-bottom: 20px;
}

.APM aside {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.APM aside .infosApm {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.APM aside .OrganizaIcons {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}

.APM aside .OrganizaIcons img {
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.APM aside .OrganizaIcons .descricaoApm {
    max-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.APM aside .imgApm {
    width: 100%;
}

.APM aside .imgApm img {
    max-width: 100%;
    object-fit: contain;
    border-radius: 10px;
}


.contato {
    width: 100%;
    height: 100%;
    color: #FFFFFF;
    background-color: #22517d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px 0px;
    text-align: center;
    font-size: small;
}

.contato .titulo {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    width: 100%;
}

.contato .titulo h1 {
    font-size: 1.75rem;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
}

.contato .titulo hr {
    width: 50px;
    height: 3px;
    background-color: #ffffff;
    border: none;
    border-radius: 20px;
}

.contato aside {
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 5px;
    gap: 10px;
}

/* Hr dos contatos */
.contato {
    .endereco hr{
        width: 5%;
    }
    .email hr{
        width: 5%;
    }
    .telefone hr{
        width: 5%;
    }
}

.contato aside.iframe {
    height: 382px;
    padding: 0;
    margin: 0;
}

.contato aside img {
    width: 30px;
}

.contato .enviarEmail {
    height: auto;
}

.contato .enviarEmail form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.enviarEmail input {
    padding: 10px 15px;
    display: block;
    width: 90%;
    font-family: var(--FontStandard);
    color: #212529;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 5px;
}

.enviarEmail textarea {
    font-family: var(--FontStandard);
    padding: 10px 15px;
    width: 90%;
    color: #212529;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 5px;
    resize: none;
    height: 100px;
}

.contato .enviarEmail form button[type=submit] {
    background-color: #74b9ff;
    border: 0;
    padding: 10px 24px;
    color: #fff;
    border-radius: 5px;
    font-size: 1.2em;
    font-weight: 400;
    font-family: var(--FontStandard);
    cursor: pointer;
}

.contato .enviarEmail form button[type=submit]:hover {
    background-color: #00cec9;
}

#piperTitulo{
    display: none;
    font-size: 90px;
}

@media screen and (min-width: 767px) {
    .bannerPrincipal {
        flex-direction: row;
        gap: 1rem;
    }
    
    .separa {
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 0px;
    }

    .BlocoNoticia {
        width: 45%;
        height: 550px;
    }


    .servicos aside {
        width: 100%;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }

    .APM aside {
        width: 100%;
        height: 400px;
        flex-direction: row;
    }

    .APM aside .infosApm {
        width: 50%;
        gap: 15px;
    }

    .APM aside .OrganizaIcons .iconApm {
        width: 40px;
    }

    .APM aside .OrganizaIcons .descricaoApm {
        max-width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: left;
    }

    .APM aside .imgApm {
        width: 50%;
    }

    .APM aside .imgApm img {
        width: 100%;
        object-fit: contain;
        border-radius: 10px;
    }

    .contato {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
    }

    .contato aside {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px 5px;
        gap: 10px;
    }

    .contato aside.telefone,
    .contato aside.email {
        width: calc(100%/2 - 10px);
    }

    .contato .enviarEmail form {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        gap: 20px;
    }

    .enviarEmail input {
        width: calc(95% - 15px);
    }

    .enviarEmail form input#grande {
        width: calc(95% - 15px);
    }

    .enviarEmail textarea {
        width: calc(95% - 15px);
    }
}

@media screen and (min-width: 1023px) {
    .bannerPrincipal {
        flex-direction: row;
        gap: 1rem;
    }

    .slides {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        gap: 30px;
        transition: transform 0.5s ease;
        padding: 0 50px;
        flex: 0 0 100%;
        color: #000000;
    }
    
    .slides span {
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 5px 10px;
        color: #000000;
        border-radius: 10px;
        overflow: hidden;
    }

    .NoticiasR {
        width: 100%;
    }

    .BlocoNoticia img {
        height: 250px;
    }

    .servicos aside {
        width: 90%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .APM aside {
        width: 90%;
        height: 100%;
        flex-direction: row;
    }

    .APM aside .infosApm {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        gap: 50px;
    }

    .APM aside .OrganizaIcons {
        width: 70%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        gap: 20px;
    }

    .APM aside .OrganizaIcons .iconApm {
        width: 60px;
    }

    .APM aside .OrganizaIcons .descricaoApm {
        max-width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: left;
    }

    .APM aside .imgApm {
        width: 50%;
        height: 100%;
        border-radius: 10px;
    }

    .APM aside .imgApm img {
        max-width: 80%;
        object-fit: contain;
        border-radius: 10px;
    }

    .contato {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: stretch;
        align-items: stretch;
        gap: 20px;
    }

    .contato aside {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px 5px;
        gap: 10px;
    }

    .contato aside.iframe {
        height: 421px;
        width: 50%;
        padding: 0;
        margin: 0;
    }

    aside.enviarEmail {
        width: calc(2*(50%/2 - 10px));
    }

    .contato aside.telefone,
    .contato aside.email {
        width: calc(50%/2 - 20px);
    }

    .contato .enviarEmail form {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        gap: 20px;
    }

    .enviarEmail input {
        width: calc(95% - 15px);
    }

    .enviarEmail form input#grande {
        width: calc(95% - 15px);
    }

    .enviarEmail textarea {
        width: calc(95% - 15px);
    }

}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes appear {
    from{
        opacity: 0;
        translate: -100vw 0;
    }
    to{
        opacity: 1;
        translate: 0 0;
    }
}