*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
}
body{
    background: linear-gradient(45deg, #563afae6 0%, rgba(116, 15, 214, 0.9) 100%), url(../img/fundos/hero-bg.jpg) center center no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    font-family: "poppins", sans-serif;
}
header{
    background-color: #2410C3;
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
}
header h1{
    color: white;
    font-size: 30px;
    font-weight: 600;
}
header #Perfil{
    width: 15%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
header #Perfil p{
    color: white;
    font-size: 20px;
    font-weight: 500;

}
header #Perfil a{
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #ffffff;
    border: #c9c2ff;
}

header nav{
    width: 20%;
}
header nav ul{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
header nav ul li{
    list-style: none;
}
header nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 500;

}
main{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
main section{
    width: 50%;
    height: 100%;
    padding: 0 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
section h2{
    color: white;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
}
section form{
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
section form div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
section form div label{
    color: #ffffff;
    text-align: justify;
    font-size: 25px;
}
section form div input[type="text"]{
    width: 300px;
    height: 30px;
    margin: 10px;
    padding: 5px;
    border: 3px solid #100069;
} 
section form div input[type="file"]{
    display: none;
} 
section form div label#imagem{
    width: 300px;
    background-color: #ffffff;
    height: 100px;
    margin: 10px;
    padding: 5px;
    border: 3px dashed #100069;
    color: #100069;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
}
section form div label#imagem:hover{
    background-color: #10006950;
    color: #ffffff;
    border: 3px dashed #ffffff;
    transition: all 200ms ease-in-out;
}
section form div label#imagem:active{
    background-color: #573aff;
    color: #ffffff;
    border: 3px dashed #ffffff;
}
section form div label#imagem:focus{
    outline: 3px solid #100069;
}
section form div label .ImagemPreview .ImgViewer{
    max-width: 100%;
}
section form div textarea{
    width: 300px;
    height: 150px;
    margin: 10px;
    padding: 5px;
    border: 3px solid #100069;
    resize: none;
}
section form div input[type=submit]{
    width: 150px;
    padding: 10px;
    border: 3px solid #100069;
    border-radius: 5px;
    background-color: #ffffff;
    color: #000000;
    font-weight: bold;
    align-self: center;
}
section form div input[type=submit]:hover{
    border: 3px solid #ffffff;
    border-radius: 5px;
    background-color:#100069 ;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
}
p.Erro{
    color: #ff0000;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
p.Sucesso{
    color: #00ff00;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}