@media screen and (min-width: 767px) {
    .logo {
        width: 100%;
    }
    #navPrincipal{
        width: 30%;
    }
    nav#navPrincipal ul li#dropdown ul {
        right: 75%;
    }

    nav#navPrincipal ul li a {
        font-size: 20px;
    }
    #slider{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
    }
    .slides{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        transition: transform 0.5s ease;
        padding: 10px 50px;
        flex: 0 0 100%;
    }
    .slides h1{
        width: 30%;
        font-size: 1.6rem;
        font-weight: 500;
        letter-spacing: 1px;
        margin: 20px 0px;
        color: #ffffff;
    }
    .slides img{
        width: 70%;
        object-fit: cover;
    }
    .separa{
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 0px;
    }
    .BlocoNoticia {
        width: 45%;
        height: 100%;
    }
    
}

@media screen and (min-width: 1023px) {
    header {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        background-color: #1806b9cc;
        height: 15vh;
    }

    #menu,
    #menuClose {
        display: none;
    }

    nav#navPrincipal {
        position: static;
        font-size: 24px;
        background-color: transparent;
        height: 15vh;
        width: 70%;
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 10px;
    }
    .logo {
        width: 110%;
    }

    nav#navPrincipal ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        list-style: none;
        box-sizing: content-box;
        gap: 20px;
        width: auto;
    }

    nav#navPrincipal ul li#LiBotaoNavDiferente {
        order: 6;
    }

    nav#navPrincipal ul li a {
        text-decoration: none;
        color: #ffffffb3;
        font-size: 16px;
        font-weight: 500;
        transition: background-color 0.3s ease;
        background: linear-gradient(#ffffff 0%, #ffffff 98%);
        background-size: 0px 2px;
        background-repeat: no-repeat;
        background-position: left 90%;
        padding: 10px 0px;
        white-space: nowrap;
    }
    nav#navPrincipal ul li a:hover,
    nav#navPrincipal ul li a:active {
        transition: 0.3s;
        background-size: 100% 2px;
        color: #ffffff;
    }


    nav#navPrincipal ul img {
        width: 60px;
        padding: 10px;
    }

    nav#navPrincipal ul img:hover {
        cursor: pointer;
    }

    
    nav#navPrincipal ul li#dropdown {
        position: relative;
        display: inline-block;
    }

    nav#navPrincipal ul li#dropdown ul {
        position: absolute;
        top: 50px;
        width: 200px;
        left: -100%;
        background-color: #fff;
        border: 1px solid #ccc;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        display: none;
        z-index: 10;
        transition: left 0.5s ease;
    }

    nav#navPrincipal ul li#dropdown ul li a {
        color: #2c4964;
        font-size: 15px;
    }

    nav#navPrincipal ul li#dropdown ul li a:hover {
        color: #5846f9;
    }

    nav#navPrincipal ul li#dropdown:hover ul {
        display: block;
    }

    nav.navSegundaria {
        background-color: #1806b9b7;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 5vh;
        box-sizing: content-box;
        padding: 5px;
    }

    nav.navSegundaria ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        list-style: none;
    }

    nav.navSegundaria ul li {
        padding: 10px;
    }

    nav.navSegundaria ul li a {
        text-decoration: none;
        color: #ffffffb3;
        font-size: 1rem;
        font-weight: 600;
        transition: background-color 0.3s ease;
        background: linear-gradient(#ffffff 0%, #ffffff 98%);
        background-size: 0px 2px;
        background-repeat: no-repeat;
        background-position: left 90%;
        padding: 10px 0px;
    }

    nav.navSegundaria ul li a:hover {
        transition: 0.3s;
        background-size: 100% 2px;
        color: #ffffff;
    }
    .BlocoNoticia {
        width: 45%;
        height: 250px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        padding: 20px;
        border-radius: 10px;
        background-color: #ffffff;
        box-shadow: 0 0 5px #5846f995;
    }
    .BlocoNoticia img {
        height: 100%;
        width: 200px;
        object-fit: cover;
        border-radius: 10px;
    }
    span{
        width: calc(100% - 220px);
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        gap: 10px;
    }
}

@media screen and (min-width: 1039px){
    .BlocoNoticia {
        height: 300px;
        
    }
    .BlocoNoticia img {
        width: 300px;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
    }
    span{
        width: calc(100% - 320px);
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        gap: 10px;
    }
}